html
  head
    title My Express App
    link(rel='stylesheet', href='/styles.css')
block content
  header
    h1 Add a new book to the library

  nav
    ul
      li
        a(href='/') Books
      li
        a(href='/edit') Edit Books
      li
        a(href='/new') Add New Book

  p Enter Information For New Book
  form(action= '' method='post')
    p ISBN
    input(type='text', name='isbn')
    p Title
    input(type='text', name='title')
    p Subtitle
    input(type='text', name='subtitle')
    p Author
    input(type='text', name='author')
    p Published
    input(type='text', name='published')
    p Publisher
    input(type='text', name='publisher')
    p Pages
    input(type='text', name='pages')
    p Description
    input(type='text', name='description')
    p Website
    input(type='text', name='website')
    br
    br
    button(type='submit') Submit

  footer
    p Copyright © 2023 My Express App